
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Current Position</h3></div>
            <div class="panel-body">
                <h4>{{ current_position.place_of_work }}</h4>

                <p>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ current_position.get_dates_string }}
                </p>
                <p>
                    {{ current_position.position }}
                </p>
                <p><a class="btn btn-default" href="{{  current_position.get_absolute_url }}">Details.... &raquo;</a></p>
            </div>
        </div>

