
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Contact Info</h3></div>
            <div class="panel-body">

                                <div class="row-fluid">
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-user"></span></div>
                                    <div class="col-xs"> {{ contact }}</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-globe"></span></div>
                                    <div class="col-xs"> {{ contact.street_address }}</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-xs-2"> </div>
                                    <div class="col-xs"> {{ contact.street_address2 }}</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-xs-2"> </div>
                                    <div class="col-xs"> {{contact.city}}, {{contact.state}} {{contact.zip}}</div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-link"></span></div>
                                    <div class="col-xs"> <a href="mailto:{{ contact.email }}"> {{ contact.email }}</a></div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-xs-2"><span class="glyphicon glyphicon-earphone"></span></div>
                                    <div class="col-xs"> {{ contact.phone }}</div>
                                </div>
                        </div>
                </div>
            </div>