
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Current Position</h3></div>
            <div class="panel-body">
                <h4>{{ current_position.place_of_work }}</h4>

                <p>
                    <small>
                        <i class="glyphicon glyphicon-time"></i> {{ current_position.start_date|date:"d M Y" }} -
                            {{ current_position.end_date|date:"d M Y"|default_if_none:"Current" }}
                    </small>
                </p>
                <p>
                    {{ current_position.position }}
                </p>
                <p><a class="btn btn-default" href="{{  current_position.get_absolute_url }}">Details.... &raquo;</a></p>
            </div>
        </div>

