{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
        {% include 'app/currentposition.html' %}
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        {% include 'app/currentskillset.html' %}
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        {% include 'app/currentphoto.html' %}
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
