{% load bootstrap_themes %}
{% load pipeline %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Louie Simpson Interactive Resume v1</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">     <!-- Bootstrap core CSS -->
{#{% stylesheet 'libraries' %}#}

        <link id="bootstrapTheme" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/styles.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Interactive Resume</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'history' %}">Work History</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                    <!-- foo -->
                    <li class="dropdown">
                        <a id="dLabel" class="dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" role="button" data-target="#">Theme <span class="caret"></span> </a>
                        <ul id="theme_list" class="dropdown-menu" role="menu" aria-labelledby="dLabel"></ul>

                    </li> <!--/.nav-collapse -->
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>
    <div class="clearfix"><br /></div>
    <div class="container body-content">

{% block content %}{% endblock %}
        <hr/>
                    <div class="center-block">
                </div>
                {% include 'app/level_legend.html' %}


        <footer>
            <p>&copy; {{ year }} - Louie Simpson</p>
        </footer>

    </div>
{#{% javascript 'libraries' %}#}
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/app.js' %}"></script>
{% block scripts %}{% endblock %}
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100802068);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
</body>
</html>
