<div class="float-right">
    <div class="panel panel-default small-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Skill levels</h4>
        </div>
      <div class="panel-body">
        <div class="label label-success"><span class="glyphicon glyphicon-glass"></span> Ninja</div>
        <div class="label label-primary"><span class="glyphicon glyphicon-star"></span> Expert</div>
        <div class="label label-info"><span class="glyphicon glyphicon-wrench"></span> Info</div>
        <div class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Danger</div>
      </div>
    </div>
</div>
