{% load cycle from future %}
{% load bleach_tags %}
    {% load staticfiles %}
<ul class="timeline">
	{% for history in work_histories %}
        <li>
            <div class="timeline-badge primary">
                {{ history.start_date|date:"Y" }}
            </div>
            <br />
            <br />

        </li>

        <li{% cycle '' ' class="timeline-inverted"' %}>
            <div class="timeline-badge success"><i class="glyphicon glyphicon-hand-{% cycle 'left' 'right' %}"></i>
            </div>
            <div class="timeline-panel panel panel-primary ">
                <div class="panel-heading timeline-heading">
                    <h4 class="panel-title timeline-title">{{ history.position }}</h4>
                </div>
                <div class="panel-body">
                    <p>{{ history.place_of_work }} - {{ history.location }}</p>
                     <p>{{ history.work_description | truncatechars:200 | bleach }}</p>
                    <small>
                        <i class="glyphicon glyphicon-time"></i> Start
                            Date: {{ history.start_date }}<br/>
                            End Date: {{ history.end_date|default_if_none:"Current" }}
                    </small>

                </div>
                <div class="panel-footer">
                    <div class="float-right">
                        <a class="btn btn-default" href="{{ history.get_absolute_url }}">Details.... &raquo;</a>
                    </div>


                </div>
            </div>
        </li>
    {% endfor %}
</ul>
